.environmentsView-container {
  width: 100%;
  height: 88%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .content {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
    .title-container {
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center;
      .title {
        color: #b9b9b9;
        font-size: x-large;
        font-weight: 500;
      }
    }
    .view-container {
      width: 100%;
      overflow: auto;
      height: 100%;
      padding-bottom: 2%;
      flex-wrap: wrap;
      display: flex;
    }
  }
}

@media only screen and (max-device-width: 480px) {
  .view-container {
    justify-content: center;
  }
}

