.catalog-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .search-container{
        width: 100%;
        height: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .service-catalog{
        width: 100%;
        height: 92%;
    }
}