/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
*::-webkit-scrollbar {
    background-color:transparent;
    width:1vmin;
    cursor:pointer;
}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
    background-color:transparent;
    cursor:pointer;
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:0px solid #babac0;
    cursor: pointers;
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {display:none}

