.user-border{
    width: 1.5em;
    border-radius: 100%;
    height: 1.5em;
    display: flex;
    border: solid 1.8px white;
    justify-content: center;
    align-items: center;
    .user{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
        border-radius: 100%;
        margin: 0 -0.5px 0 -0.5px;
        border: solid 3px transparent;
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #fff inset;
        .user-letter{
            font-weight: 600;
            font-size: 14px;
            margin-top: 1px;
            text-transform: uppercase;
            background-clip: text !important;
            -webkit-background-clip:text !important;
            -webkit-text-fill-color: transparent;
        }
    }
   
}


.tooltip-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    .img{
        width: 1.8em;
        height: 1.8em;
        border-radius: 50%;
        border: solid #aaaaaa 2px;
    }
    .title{
        padding-left: 4px;
        color: #aaaaaa;
        font-weight: 500;
        font-size: 14px;
    }
}