.dropdown-action-container{
   display: flex;
   width: 100%;
   height: 25%; 
   align-items: center;

   &:hover{
       background-color:#f9f9f9 ;
   }
   .title{
    color: #c9c9c9;
    font-size: 0.85em;
    font-weight: 500;
   }
   .img{
       width:25%;
       height:65%;
       padding: 0 8% 0 5%;
       fill: #c9c9c9;
   }

}