.services-continuer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .services-view {
        width: 100%;
        height: auto;
        display: flex;
        flex-grow: 0;
        flex-shrink: 1;
        overflow-y: auto;
        padding-bottom: 5%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .service-card {
            box-shadow: 0 2px 8px 0 rgba(211, 223, 245, 0.3);
            margin: 3% 1vmin;
            min-width: 15vmin;

            &:hover {
                box-shadow: 0 2px 8px 0 rgba(211, 223, 245, 0.4);
            }
        }
    }
}
