.addEnvironment-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: 65%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-self: center;
    .symbol-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .plus-symbol {
        width: 60%;
        height: 60%;
        fill: #fcd062;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      }
    }
    .addEnvironment-title-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .addEnvironment-title {
        color: #aaaaaa;
        font-size: 1.05em;
        font-weight: 500;
        white-space: nowrap;
      }
    }
  }
}

.card {
  &:hover {
    .symbol-container {
      .plus-symbol {
        fill: #f8b84e;
      }
    }
  }
}
