.SearchInput-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 40%;
  padding-left: 1%;
  .icon{
      width:25px;
      height: 100%;
  }
  #search {
    border: 0;
    width: 94%;
    height: 100%;
    background: transparent;
    color: #a5a5a5;
    font: 1em 'Heebo' ;
    transition: all 0.4s ease;
    &:focus {
        outline: none
    }
    &::placeholder{
        color: #a5a5a5;
    }
  }
}
