.catalogSearch-container{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 0% 2%;
    border-bottom: solid 1px #cacaca;

    .icon{
        width:auto;
        height: 20px;
    }
    #search {
        border: 0;
        width: auto;
        height: 100%;
        background: transparent;
        color: #a5a5a5;
        font: 16px 'Heebo' ;
        &:focus {
            outline: none
        }
        &::placeholder{
            color: #a5a5a5;
        }
      }
}