@keyframes fadeIn {
	0% {
		display: none;
		visibility: hidden;
		opacity: 0;
	}

	1% {
		display: block;
		visibility: visible;
		opacity: 0;
	}

	100% {
		display: block;
		visibility: visible;
		opacity: 1;
	}
}

.monitorOverview-container {
	width: 98%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.back-container {
		height: 40%;
		transition: all 0.1s ease-in;

		width: 0%;
		display: flex;
		justify-content: center;
		align-items: center;
		.back-button {
			width: 100%;
			height: 100%;
			display: none;
			visibility: hidden;
			fill: #aaaaaa;
			&:hover {
				fill: #fcd062;
			}
		}
	}
	.swipeableViews-container{
		width: 100%;
		.react-swipeable-view-container{
			will-change: auto !important;
		}
		.context-container {
			display: flex;
			height: 100%;
			width: 100%;
			justify-content: center;
			align-items: center;
		}
	}
	

	.next-container {
		transition: all 0.1s ease-in;
		height: 40%;
		width: 0%;
		display: flex;
		justify-content: center;
		align-items: center;
		.next-button {
			width: 100%;
			height: 100%;
			display: none;
			visibility: hidden;
			fill: #aaaaaa;
			transform: rotate(180deg);
			&:hover {
				fill: #fcd062;
			}
		}
	}
}

.environmentPreview-container {
	&:hover {
		.next-container {
			width: 8%;
			.next-button {
				animation: fadeIn 0.4s forwards;
				transition: all 0.1s ease-in;
				display: block;
				visibility: visible;
			}
		}
		.back-container {
			width: 8%;
			.back-button {
				display: block;
				visibility: visible;
				animation: fadeIn 0.4s forwards;
				transition: all 0.1s ease-in;
			}
		}
		.swipeableViews-container{
			width: 82%;
		}
	}
}
