.serviceDescription-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .service-name-avatar-container {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .service-avatar-border-container {
            width: 70px;
            height: 70px;
            border-radius: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            background-color: white;
            box-shadow: 0 2px 8px 0 rgba(211, 223, 245, 1);

            .service-avatar-container {
                width: 60px;
                height: 60px;
                border-radius: 100%;
                justify-content: center;
                box-shadow: 0 2px 8px 0 rgba(211, 223, 245, 1);

                align-items: center;
                display: flex;
                background-color: white;
                .avatar-img {
                    width: 85%;
                    height: auto;
                }
            }
        }
        .service-name-container {
            font: 26px "Heebo";
            font-weight: 500;
            color: black;
            padding-top: 2%;
        }
    }
}
