.header {
  display: flex;
  width: 100%;
  height: 12%;
  background-color: #fefefe;
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  will-change: transform, box-shadow;
  .separator {
    height: 60%;
    width: 1px;
    background-color:#E7E7E7 ;
    align-self:center;
    border-radius: 1em;
  }
}
