@keyframes glow {
    0% {
        width: 2.8em;
        height: 2.8em;
        filter: drop-shadow(0 2px 6px rgba(238, 118, 118, 0.4));
    }
    4% {
        width: 2.85em;
        height: 2.85em;
    }
    8% {
        width: 2.9em;
        height: 2.9em;
        filter: drop-shadow(0 2px 6px rgba(238, 118, 118, 0.5));
    }
    11% {
        width: 2.85em;
        height: 2.85em;
    }
    15% {
        width: 2.8em;
        height: 2.8em;
        filter: drop-shadow(0 2px 6px rgba(238, 118, 118, 0.4));
    }
}
.uptime-container {
    width: 115%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 8px 0 0;
        width: 50px;
        .img {
            width: 2.8em;
            height: 2.8em;
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
            animation: glow 3.5s infinite ;
        }
    }
    .text-container {
        height: 100%;
        width: 50px;
        padding: 0 8px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .uptime-title-container {
            .uptime-title {
                color: #a5a5a5;
                font-weight: 400;
                font-size: 85%;
            }
        }
        .uptime-value-container {
            .uptime-value {
                color: black;
                font-weight: 500;
                font-size: 1.3em;
            }
        }
    }
}
