.environment-view {
    width: 100%;
    height: 100%;
    display: flex;
    .menu {
        height: 100%;
        width: 5%;
        min-width: 10vmin;
        z-index: 3;
        background-color: #fcfbfe;
    }
    .catalog {
        height: 100%;
        max-width: 20%;
        z-index: 3;
        box-shadow: 0 2px 8px 0 rgba(211, 223, 245, 0.6);
        background-color: #fdfdfd;
    }
    .services {
        height: 100%;
        width: 75%;
        z-index: 1;
        background-color: #f6f5fa;
        transition: all 0.08s ease-in-out;
    }
    .service-info {
        height: 100%;
        width: 0%;
        box-shadow: 0 2px 8px 0 rgba(211, 223, 245, 0.6);
        z-index: 3;
        background-color: #fcfbfe;
        transition: all 0.08s ease-in-out;
    }
    &.show-info{
       
        .service-info{
            width: 25%;
        }
        .services{
            width:50%;
        }
    }
}
