
.environmentPreview-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header-container {
    width: 100%;
    height: 23%;
    display: flex;
    .titles-container {
      width: 80%;
      height: 100%;
      padding: 7%;
      display: flex;
      flex-direction: column;
      .title {
        color: #aaaaaa;
        font-size: 1.05em;
        font-weight: 500;
        &.input {
          width: 100%;
          border: dashed 0.5px #aaaaaa;
          border-radius: 4px;
          padding: 2%;
          color: #aaaaaa;
          font: 1.05em "Heebo";
          &:focus {
            outline: none;
          }
          &::placeholder {
            color: #aaaaaa;
            font: 1.05em "Heebo";
          }
        }
      }
      .metadata-container {
        display: flex;
        width: 100%;
        height: 35%;
        align-items: center;
      }
    }
    .action-container {
      width: 15%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 5%;
      .dot-wrapper{
        width: 65%;
        height: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
        .threeDots {
          width: 100%;
          height: 100%;
          fill: #aaaaaa;
          transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
          &:hover {
            fill: #fcd062;
          }
        }
      }
      
    }
  }
  .content-container {
    width: 100%;
    height: 60%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .description-container {
      width: 100%;
      height: 23%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .description {
        color: #aaaaaa;
        font-weight: 500;
        font-size: 16px;
        &.input {
          width: 80%;
          padding: 2%;
          border: dashed 0.5px #aaaaaa;
          border-radius: 4px;
          color: #aaaaaa;
          text-align: center;
          font: 1.05em "Heebo";
          &:focus {
            outline: none;
          }
          &::placeholder {
            color: #aaaaaa;
            font: 1.05em "Heebo";
          }
        }
      }
    }
    .info-container {
      width: 98%;
      height: 20%;
      display: flex;
      align-items: center;
    }
  }
  .footer-container {
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #f4f4f4;
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  }
}
