.service-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    [draggable=true] {
        cursor: move;
  
      }
    .img-container {
        width: 80%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .img {
            width: auto;
            max-width: 100%;
            max-height: 100%;
            height: auto;
        }
    }
    .label-container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .label{
            font: 8pt "Heebo";
            font-weight: 500;
            color: #C1C0C7;
            text-align: center;

        }
    }
}
