.serviceInfo-container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    .information-container{
        width: 100%;
        height: 40%;
    }
    .settings-container{
        width: 100%;
        height: 60%;
    }
}