@import "./assets/fonts/heebo/heebo.scss";
@import './assets/scss/scrollbar.scss';
*{
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Heebo";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    #root {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
}
